.project{
    text-align: justify;
}

.web-link{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.web-link a{
    text-decoration: none;
}

.project:hover{
    background-color: honeydew;
}

.ellipsis{
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}