.project{
    color: black;
    background-color: white;
    margin-top: 10px;
    padding-top: 10px; 
    text-align: justify;
    border-radius: 20px;
    border: none;
}
.web-link{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

.web-link a{
    text-decoration: none;
}