.skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    text-align: center;
    color: cornflowerblue;
    margin-bottom: 50px;
    font-weight: 700;
}

/* @media only screen and (max-width: 688px){
    .skills{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 689px) and (max-width: 991px){
    .skills{
        grid-template-columns: repeat(3, 1fr);
    }
} */