/* .icon{
    border-radius: 50%;
    width: 32px;
} */

.education{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-top: 30px;

}

.education-item2{
    padding-bottom: 160px;
}

@media only screen and (max-width: 688px){
    .education{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 689px) and (max-width: 991px){
    .education{
        grid-template-columns: repeat(2, 1fr);
    }
}
 